
body {
  font-family: 'roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: blue;
  }
}

header {
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
 }
  li {
    padding: 10px;
    margin: 20px;
 }
}

footer {
   background-color: black;
   padding: 20px;
   p {
    color: white;
    display: flex;
    justify-content: center;
  }
}