body {
  font-family: 'roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
}

header li {
  padding: 10px;
  margin: 20px;
}

footer {
  background-color: black;
  padding: 20px;
}

footer p {
  color: white;
  display: flex;
  justify-content: center;
}
